# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.production

# Uploads
uploads/
uploads/audios/

# Logs
*.log
npm-debug.log*

# Banco de dados local
*.sql
*.db
db.json

# Sistema
.DS_Store
Thumbs.db